.responsive-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    height: 0;
    overflow: hidden;
}

.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.responsive-video-vert iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.responsive-video-vert {
    position: relative;
    padding-top: 177.77%; /* 9:16 Aspect Ratio (divide 16 by 9 = 1.7777) */
    overflow: hidden;
    width: 100%;
}